# Configuração do Banco de Dados SQLite (Relacional com Prisma)
DATABASE_URL="file:./dev.db"

# Segurança e Autenticação JWT
JWT_SECRET="desafio-staff-secret-key-super-secure-2026"
JWT_EXPIRES_IN="1h"

# Configurações da Aplicação
NEXT_PUBLIC_APP_NAME="FixCar Inspeções"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
